@import "vars";
@import "mixins";

.people-are-talking-about-fork {
  @include flex-center;
  color: $color_white;
  text-align: center;
  flex-direction: column;
  flex-wrap: wrap;
  background-image: url(../assets/img/block_people_are_talking_about_fork/testmonials-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 50% 40%;
  padding-top: 50px;

  &__title {
    margin: 0;
    width: $width_whole;
    font-size: 36px;}

  &__line {
    border-color: $theme_color;
    width: 90%;
    margin-top: 30px;
    margin-bottom: 40px;}

  &__description {
    display: none;}
}

.company-card {
  width: 80%;

  &__description {
    margin: 0;
    font-style: italic;
    font-size: 14px;}

  &__logo {
    margin: 40px 0 25px;

    &--bigger-margin-top{
      margin-top: 40px;}
  }
}

@media screen and (min-width: 481px) {
  .people-are-talking-about-fork {
    flex-direction: row;

    &__title {
      font-size: 40px;}

    &__description {
      display: unset;
      width: 90%;
      color: $theme_color;
      font-size: 11px;
      margin-top: 60px;
      line-height: 17px}

    &__line {
      margin-top: 10px;}
  }

  .company-card {
    width: 48%;

    &__logo {
      @include flex-center;
      min-height: 70px;}
  }
}

@media screen and (min-width: 993px) {
  .company-card {
    width: 26%;
    padding: 20px;
    min-height: 200px;}

  .people-are-talking-about-fork {
    padding-top: 70px;

    &__description {
      width: 70%;}

    &__line {
      width: 60%;}
  }
}