@import "vars";
@import "mixins";

.revolutionary-editor {
   @include margin-center;
    text-align: center;
    width: 90%;
    padding: 10vh 0 16vh;




  &__title {
    color: $theme_color_dark;
    text-transform: uppercase;
    font-size: 31px;
    font-weight: bold;
    margin-top: 67px;
    line-height: 47px;
  }

  &__description{
    font-size: 15px;
    color: #5B5B5B;
    line-height: 20px;
  }


}

.page-actions{
  @include flex-wrap;
  list-style-type: none;
  padding-left: 0;
  justify-content: center;

  &__item{
    border: 1px solid #D6D6D6;
    border-radius: 3px;
    margin-top: 20px;

    & + &{
      margin-left: 10px; //maybe rewrite
    }

  }

  .icon-item{
    display: inline-block;
    color: #24292e;
    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    padding: 3px 10px;
    background-color: #F1F1F1;
    border-right: 1px solid #D6D6D6;
  }


}

.vertical-icon-align{
  vertical-align: text-top;
}

.count{
  padding: 3px 10px;
  font-size: 12px;
  color: #24292e;
  font-weight: bold;
}


@media screen and (min-width: 480px) {
  .revolutionary-editor {
    padding: 7vh 0;

    &__description{
      @include margin-center;
      width: 80%;
    }

  }
}